.contenido-centrado {
    max-width: 800px;
}

.boton{
    background-color: $azul;
    border: none;
    border-radius: 0.5rem;
    padding:1rem;
    color: black;
    font-weight: $bold;
    display: block;
    margin: auto;
}