.contenido-centrado {
    max-width: 800px;
}

.boton{
    background-color: $azul;
    border: none;
    border-radius: 0.5rem;
    padding:1rem;
    color: black;
    font-weight: $bold;
    display: block;
    margin: auto;
    &:hover{
        cursor: pointer;
        background-color: blue;
    }
}
.sombra{
    -webkit-box-shadow: 2px 12px 26px 8px rgba(0,0,0,0.1);
    -moz-box-shadow: 2px 12px 26px 8px rgba(0,0,0,0.1);
    box-shadow: 2px 12px 26px 8px rgba(0,0,0,0.1);
}