.filtro{
    display: flex;
    flex-direction: column;
    margin: 2rem auto;
    select,button{
        width: 50%;
        margin: 0.5rem auto;
        // border: 0.5px solid $gris;
        border-radius: 1rem;
        border: none;
        padding: 0.8rem 0;
        text-align: center;
        option{
            background-color: $blanco;
            border: none;
            
        }
        &:hover{
            cursor: pointer;
            background-color: $azul;
        }
    }
    button{
        width: auto;
        padding: 1rem 2rem;
        font-weight: $regular;
    }

    @include tablet{
        flex-direction: row;
        select{
            margin-right: 2rem;
            // width: auto;
        }
        
    }
}

.icono{
    width: 4rem;
    height: auto;
}