// general


//cargar inmueble
.formulario{
    padding: 0 1rem;
    fieldset{
        background-color: $blanco-gris;
        border-radius: 0.5rem;
        margin-top: 1rem;
        display: flex;
        flex-direction: column;
        legend{
            font-weight: $bold;
        }
        input{
            padding: 0.5rem 0;
        }
        label,input{
            width: 94%;
            margin: auto;
        }
    }
    .opciones{
        display: grid;
        @include grid(2,0.2rem);
        @include tablet{
            @include grid(4,0.2rem);
        }
    }

    button{
        margin: 2rem auto;
    }
}

