form{
    fieldset.seccion{
        display: none;
    }
}

.mostrar-seccion{
    display: flex !important;
    
}

.tabs{
    @include grid(3,1rem);
    button{
        width: auto;
        height: 5rem;
        font-size: auto;
        border: none;
        border-radius: 0.5rem;
        transition: all 350ms ease;
        font-size: 1.4rem;
        &:hover{
            background-color: $azul-intenso;
            color: $blanco;
        }
    }
}

.actual{
    background-color: $azul-intenso;
    color: $blanco !important;
}