// .anuncios, #servicios{
//     @include grid(2,1rem);
//     margin: 2rem;
//     .anuncio{
//         margin: 1rem;
//         position: relative;
//         &:hover{
//             cursor: pointer;
//         }
//         img{
//             border-radius: 1rem;
//         }
//         .info-anuncio{
//             margin: 0;
//             h2,p{
//                 visibility: hidden;
//                 opacity: 0;
//                 margin: 0;
//             }
//             &:hover{
//                 background-color: rgba($negro, 0.6);
//                 border-radius: 1rem;
//                 h2,p{
//                     opacity: 1;
//                     visibility: visible;
//                 }
//             }
//             position: absolute;
//             width: 100%;
//             height: 100%;
//             display: flex;
//             flex-direction: column;
//             justify-content: center;
//             align-items: center;
//             h2{
//                 font-size: 1.2rem;
//                 font-weight: $bold;
//                 margin: 0 2rem;
//             }
//             p{
//                 font-size: 1.2rem;
//             }
//             @include desktop{
//                 h2{
//                     font-size: 2.2rem;
//                     margin: 0 4rem;
                   
//                 }
//                 p{
//                     font-size: 2rem;
//                 }
//             }
//         }
//     }
// }


// .anuncios{
//     @include tablet{
//         @include grid(4,2rem);
//     }
// }

// #servicios{
//     @include tablet{
//         @include grid(3,2rem);
//     }
// }


// .precio{
//     color: $verde;
// }
// .anuncio{
//     transition: all 600ms ease;
//     &:hover{
//         transform: scale(1.1);
//     }
// }

// .anuncios{
//     padding: 1rem 0;
//     h2{
//         color: $blanco;
//         font-size: 8rem;
//     }
//     a,h2{
//         margin: 1rem 0;
//     }
//     picture{
//         height: 100%;
//         img{
//             height: 100%;
//         }
//     }

//     @include tablet{
//         h2{
//             font-size: 4rem;
//         }
//     }
// }

.imagen-servicio{
    width: 60%;
    margin: auto;
    img{
        border-radius: 1rem;
    }
}
.info-servicio{
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    .texto-servicio{
        margin: 2rem 4rem;
    }
    .boton{
        display: inline-block;
        margin: 0 auto;
    }
}

.anuncios{
    @include grid(2,2rem);
    margin: 4rem 2rem;
 
    .anuncio{
        border-radius: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: $blanco-gris;
        // border: 1px solid black;
            img{
                width: 90%;
                height: auto;
                margin: 2rem auto;
            }
        .info-anuncio{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            h2{
                font-size: 1.4rem;
                margin: 0.5rem;
                color: $negro;
                font-weight: 500;
            }
            p{
                color: $verde;
                font-weight: $regular;
                margin: 0.5rem 0;
                font-size: 2rem;
            }
            &::before{
                content: '';
                display: block;
                height: 0.2rem;
                width: 80%;
                background-color: $naranja;
                margin: auto;
            }
            
        }
        transition: all 550ms ease;
        &:hover{
            transform: scale(1.05);
        }
    }

    @include tablet{
        @include grid(4,2rem);
        .anuncio{

            .info-anuncio{
                h2{
                    font-size: 2rem;
                    margin: 1rem;
                    color: $negro;
                    font-weight: 500;
                }
                p{
                    color: $verde;
                    font-weight: $bold;
                    margin: 1rem 0;
                    font-size: 2rem;
                }
            }
        }
    }
}

#servicios{
    .anuncio{
        border-radius: 0;
        .info-anuncio{
            &::before{
                content: '';
                display: none;
                height: 0;
                width: 0;
                margin: 0;
            }
        }
    }
    display: flex;
    flex-direction: column;
    @include tablet{
        @include grid(3,2rem);
    }
}