.banner{
    background-repeat: no-repeat;
    background-position: 80% 100%;
    background-size: cover ;
    height: 14rem;
    width: auto;
    @include tablet{
        background-position: 80% 80%;
        height: 24rem;
    }
    @include desktop{
        background-position: 60% 50% ;
        background-size: cover ;
        height: 34rem;
    }
}

#bannerIndex{
    background-image: url(../../../build/img/MAIN.jpg);
}

#bannerServicios{
    background-image: url(../../../build/img/SERVICIOS.jpg);
}

#bannerInmuebles{
    background-image: url(../../../build/img/INMUEBLES.jpg);
}

#bannerDepartamentos{
    background-image: url(../../../build/img/DEPARTAMENTOS.jpg);
}

#bannerTerrenos{
    background-image: url(../../../build/img/TERRENOS.jpg);
}

#bannerBlog{
    background-image: url(../../../build/img/BLOG.jpg);
}

#bannerContacto{
    background-image: url(../../../build/img/contacto.jpg);
    background-position: 50% 0%;
    @include tablet{
        background-position: 50% 0%;
    }
    @include desktop{
        background-position: 50% 0%;
    }
}