@import 'generalidades/normalize';
@import 'generalidades/mixins';
@import 'generalidades/variables';
@import 'generalidades/globales';
@import 'generalidades/utilidades';

@import 'dise単os/formulario';
@import 'dise単os/agenda';
@import 'dise単os/filtro';
@import 'dise単os/inmuebles';